h1{
	text-align: center;
	font-size: 48px;
	margin-top: calc(106px - 0.67em);
	font-family: 'Raleway', sans-serif;
	color:#333333;
}

h1:after{
	content:"";
	display: block;
	margin:calc(40px - 0.67em) auto 0;
	height: 2px;
	width: 64px;
	background: #ff8c2c;
}

h1+.content{
	margin-top: 32px;
}

.content{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-size: 19px;
	color:#8e8f92;
}

.wrap-section{
	margin: 0 10%;
}

.inner-section{
	float: left;
	width: 33.33%;
	margin-top: 83px;
	padding: 0 7px;
	box-sizing: border-box;
}

.icon{
	height: 70px;
	width: 70px;
	border:2px solid #ff8b38;
	border-radius: 50%;
	margin: 0 auto;
}

.inner-title{
	margin: 35px 0;
	text-align: center;
	color:#333333;
	font-family: 'Open Sans', sans-serif;
	font-size: 26px;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}