h1 {
	text-align: center;
	font-size: 48px;
	margin-top: 106px;
	font-family: 'Raleway', sans-serif;
	color:#333333;
}

h1::after {
	content:"";
	display: block;
	margin:31px auto 0;
	height: 2px;	
	width: 65px;
	background: #ff8c2c;
}

.content {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-size: 14px;
	color:#8e8f92;
}

.wrap-section {
	margin: 0 10%;
}

.inner-section {
	float: left;
	width: 33.33%;
	margin-top: 83px;
	padding: 0 7px;
	box-sizing: border-box;
}

.icon {
	height: 70px;
	width: 70px;
	border:2px solid #ff8b38;
	border-radius: 50%;
	margin: 0 auto;
}

.inner-title {
	margin: 35px 0;
	text-align: center;
	color:#333333;
	font-family: 'Open Sans', sans-serif;
	font-size: 26px;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

/*********************PRICING OPTION**************/

.wrap-pricing {
	background: #f5f5f5;
	margin-top: 87px;
	padding-top: 110px;
	box-sizing: border-box;
}

.pricing {
	text-align: center;
	font-size: 36px;
	font-family: 'Raleway', sans-serif;
	color:#333333;	
	margin: 0 0 35px 0;
}

.pricing::after {
	content:"";
	display: block;
	margin:31px auto 0;
	height: 2px;	
	width: 65px;
	background: #ff8c2c;
}

.inner-menu {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.inner-menu li {
	list-style-type: none;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-size: 14px;
	color:#8e8f92;
	box-sizing: content-box;
	padding: 15px 20px;
	margin-top:1px; 
}

.inner-menu li:nth-of-type(n+4) {
	background: #fff;
	text-transform: uppercase;
}

.inner-menu li:nth-of-type(-n+3) {
	background: #333333;
	color:#fff;
	padding-top: 20px;
	padding-bottom:  20px;
}
.professional li:nth-of-type(4) {
	background: #ff8b38;
	color:#fff;
	margin-top: 0;
}

.basic li:nth-of-type(4) {
	border-top:5px solid #ff8b38;
	margin-top: 0;
}

.inner-menu li:nth-of-type(3) {
	color:#86878b;
	font-style: italic;
}

.inner-menu li:nth-of-type(2) {
	font-family: 'Raleway', sans-serif; 
	font-size: 50px;
	font-weight: bold;
	padding-bottom: 0px;

}

.inner-menu li span {
	vertical-align: sub;
	font-size: 30px;
}

/**************************STILISH AXURE DESIGN********/

.wrap-stylish {	
	height: 300px;
	background: url(../images/opo.jpg) no-repeat;
	background-position: center;
}

.wrap-stylish-opacity {
	background: rgba(0, 0, 0, .4);
	height: 300px;
}

.stylish {
	margin-top: 0px;
	padding: 70px 0 0 0;
	text-align: center;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
}

.stylish:after {
	content: "";
	display: block;
	margin: 30px auto;
	width: 65px;
	height: 2px;
	background: #fff;
}

.download {
	display: block;
	width: 120px;
	margin: 35px auto 0;
	text-align: center;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	border: 2px solid #fff;
	padding: 15px 30px;
}

/***********************FOOTER****************/

.wrap-footer {
	background: rgb(0, 0, 0);
}

.wrap-footer-icons {
	padding-top: 35px;
	display: flex;
	justify-content: center;
}

.inner-footer-icons {
	width: 10px;
	height: 10px;
	border: 1px solid #fff;
	border-radius: 50%;
	margin-left: 30px;
	margin-bottom: 15px;
}

.cooperate{
	color: #fff;
	margin: 0;
	text-align: center;
	padding-bottom: 15px;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
}